<div class="text-center" id="availabilitySection">
    <h3 class="h1">Our Availability</h3>
</div>


<div class="container table-container">
    <div class="table-title fw-light">SEASONAL RATES & AVAILABILITY FOR 2024/2025</div>
    <table class="table">
        <thead>
            <tr>
                <th>WEEKS</th>
                <th>RATES (€)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>14/12/2024</td>
                <td>105,500</td>
            </tr>
            <tr>
                <td>21/12/2024</td>
                <td class="booked">Booked</td>
            </tr>
            <tr>
                <td>28/12/2024</td>
                <td class="booked">Booked</td>
            </tr>
            <tr>
                <td>04/01/2025</td>
                <td>165,500</td>
            </tr>
            <tr>
                <td>11/01/2025</td>
                <td>115,500</td>
            </tr>
            <tr>
                <td>18/01/2025</td>
                <td class="booked">Booked</td>
            </tr>
            <tr>
                <td>25/01/2025</td>
                <td class="booked">Booked</td>
            </tr>
            <tr>
                <td>01/02/2025</td>
                <td>105,500</td>
            </tr>
            <tr>
                <td>08/02/2025</td>
                <td>105,500</td>
            </tr>
            <tr>
                <td>15/02/2025</td>
                <td class="booked">Booked</td>
            </tr>
            <tr>
                <td>22/02/2025</td>
                <td>135,500</td>
            </tr>
            <tr>
                <td>01/03/2025</td>
                <td>105,500</td>
            </tr>
            <tr>
                <td>08/03/2025</td>
                <td>105,500</td>
            </tr>
            <tr>
                <td>15/03/2025</td>
                <td class="booked">Booked</td>
            </tr>
            <tr>
                <td>22/03/2025</td>
                <td>85,500</td>
            </tr>
            <tr>
                <td>29/03/2025</td>
                <td>85,500</td>
            </tr>
            <tr>
                <td>05/04/2025</td>
                <td>80,500</td>
            </tr>
            <tr>
                <td>12/04/2025</td>
                <td>80,500</td>
            </tr>
        </tbody>
    </table>

    <div class="note">
        Availability and rates are subject to change, so always contact us by email to check the latest availability.
    </div>

    <a href="/contact" class="btn btn-contact btn-lg m-0 mt-4">Enquire Now</a>
</div>