<div class="container text-center" id="facilitiesSection">
    <h3 class="h1">Facilities & Services</h3>
</div>
<section class="py-5 facilities-section">
    <div class="container px-5 d-flex flex-row gap-5">
        <!-- <h2 class="text-center mb-4">Our Facilities</h2> -->
        <!-- Category 1 -->

        <div class="flex-fill border-end pe-5">
            <div class="category-item animate-left">
                <div class="category-item-img-container"
                    style="width: 150px; height: 150px; margin: 30px 0; margin: 30px 0;">
                    <img src="/images/pexels-lucaluperto-15473970.jpg" class="category-item-img" />
                </div>
                <h3 class="category-title" style="font-size: 20px;">Outdoor Activities</h3>
                <div class="category-line"></div>
                <div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Cras justo odio</li>
                        <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Dapibus ac facilisis in</li>
                        <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Morbi leo risus</li>
                    </ul>
                </div>
            </div>


            <div class="category-item animate-right">
                <div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Cras justo odio</li>
                        <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Dapibus ac facilisis in</li>
                    </ul>
                </div>
                <div class="category-line"></div>
                <h3 class="category-title" style="font-size: 20px;">Wellness & Relaxation</h3>
                <div class="category-item-img-container" style="width: 150px; height: 150px; margin: 30px 0;">
                    <img src="/images/pexels-olly-3760262.jpg" class="category-item-img"/>
                </div>
            </div>


            <div class="category-item animate-left">
                <div class="category-item-img-container"
                    style="width: 150px; height: 150px; margin: 30px 0; margin: 30px 0;">
                    <img src="/images/ski-patrol-room.jpg" class="category-item-img" />
                </div>
                <h3 class="category-title" style="font-size: 20px;">Ski Room</h3>
                <div class="category-line"></div>
                <div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Cras justo odio</li>
                        <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Dapibus ac facilisis in</li>
                        <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Morbi leo risus</li>
                    </ul>
                </div>
            </div>


            <div class="category-item animate-right">
                <div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Cras justo odio</li>
                        <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Dapibus ac facilisis in</li>
                    </ul>
                </div>
                <div class="category-line"></div>
                <h3 class="category-title" style="font-size: 20px;">Entertainment</h3>
                <div class="category-item-img-container" style="width: 150px; height: 150px; margin: 30px 0;">
                    <img src="/images/pexels-tiffany-bui-1263477-2405062.jpg" class="category-item-img"/>
                </div>
            </div>
        </div>


        <!------------------------------------------ Facilities ----------------------------------------------->
        <div class="d-flex flex-column" style="width: 35%;">
            <h3 class="text-center mb-4">Facilities</h3>
            <ul class="list-group gap-2">
                <li class="list-group-item">
                    <i class="fas fa-check me-2 border-0"></i>
                    7 bedrooms including a master bedroom suite comprising an entire floor
                </li>
                <li class="list-group-item">
                    <i class="fas fa-check me-2 border-0"></i>
                    Twin lounge with double-height ceiling
                </li>
                <li class="list-group-item">
                    <i class="fas fa-check me-2 border-0"></i>
                    Dining room for 16
                </li>
                <li class="list-group-item">
                    <i class="fas fa-check me-2 border-0"></i>
                    Triple-aspect balcony from the reception room
                </li>
                <li class="list-group-item">
                    <i class="fas fa-check me-2 border-0"></i>
                    Champagne & cocktail bar
                </li>
                <li class="list-group-item">
                    <i class="fas fa-check me-2 border-0"></i>
                    Shisha terrace with a stunning view of the “Glacier de Bellecote”, equipped with outdoor heaters and music
                </li>
                <li class="list-group-item">
                    <i class="fas fa-check me-2 border-0"></i>
                    Semi-professional kitchen
                </li>
                <li class="list-group-item">
                    <i class="fas fa-check me-2 border-0"></i>
                    Open fireplace
                </li>
                <li class="list-group-item">
                    <i class="fas fa-check me-2 border-0"></i>
                    Swimming pool
                </li>
                <li class="list-group-item">
                    <i class="fas fa-check me-2 border-0"></i>
                    Steam room
                </li>
                <li class="list-group-item">
                    <i class="fas fa-check me-2 border-0"></i>
                    Gym
                </li>
                <li class="list-group-item">
                    <i class="fas fa-check me-2 border-0"></i>
                    Cinema/media room
                </li>
                <li class="list-group-item">
                    <i class="fas fa-check me-2 border-0"></i>
                    WFH Mac station inc copy, print, fax
                </li>
                <li class="list-group-item">
                    <i class="fas fa-check me-2 border-0"></i>
                    Fireplace
                </li>
                <li class="list-group-item">
                    <i class="fas fa-check me-2 border-0"></i>
                    Bernardaud tableware & St Louis Crystal
                </li>
            </ul>
        </div>
        


    </div>
</section>