<div class="container text-center" id="facilitiesSection"></div>
<h3 class="h1">Facilities & Services</h3>
</div>
<section class="py-5">
    <div class="container">
        <!-- <h2 class="text-center mb-4">Our Facilities</h2> -->

        <!-- Category 1 -->
        <div class="category-item animate-left">
            <div class="category-item-img-container">
                <img src="/images/pexels-lucaluperto-15473970.jpg" class="category-item-img" />
            </div>
            <h3 class="category-title">Outdoor Activities</h3>
            <div class="category-line"></div>
            <div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Cras justo odio</li>
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Dapibus ac facilisis in</li>
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Morbi leo risus</li>
                </ul>
            </div>
        </div>

        <!-- Category 2 -->
        <div class="category-item animate-right">
            <div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Cras justo odio</li>
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Dapibus ac facilisis in</li>
                </ul>
            </div>
            <div class="category-line"></div>
            <h3 class="category-title">Wellness & Relaxation</h3>
            <div class="category-item-img-container">
                <img src="/images/pexels-olly-3760262.jpg" class="category-item-img" />
            </div>
        </div>

        <!-- Category 3 -->
        <div class="category-item animate-left">
            <div class="category-item-img-container">
                <img src="/images/ski-patrol-room.jpg" class="category-item-img" />
            </div>
            <h3 class="category-title">Ski Room</h3>
            <div class="category-line"></div>
            <div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Cras justo odio</li>
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Dapibus ac facilisis in</li>
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Morbi leo risus</li>
                </ul>
            </div>
        </div>

        <!-- Category 4 -->
        <div class="category-item animate-right">
            <div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Cras justo odio</li>
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Dapibus ac facilisis in</li>
                </ul>
            </div>
            <div class="category-line"></div>
            <h3 class="category-title">Entertainment</h3>
            <div class="category-item-img-container">
                <img src="/images/pexels-tiffany-bui-1263477-2405062.jpg" class="category-item-img" />
            </div>
        </div>

        <!-- Category 5 -->
        <div class="category-item animate-left">
            <div class="category-item-img-container">
                <img src="/images/pexels-fotios-photos-1126728.jpg" class="category-item-img" />
            </div>
            <h3 class="category-title">Luxury Dining</h3>
            <div class="category-line"></div>
            <div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Cras justo odio</li>
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Dapibus ac facilisis in</li>
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Morbi leo risus</li>
                </ul>
            </div>
        </div>

    </div>
</section>