<div class="container text-center" id="facilitiesSection">
    <h1>Facilities & Services</h1>
</div>
<section class="py-5">
    <div class="container">
        <!-- <h2 class="text-center mb-4">Our Facilities</h2> -->

        <!-- Category 1 -->
        <div class="category-item animate-left">
            <img src="/images/pexels-ansar-muhammad-380085065-27604112.jpg" class="category-item-img"/>
            <h3 class="category-title">Outdoor Activities</h3>
            <div class="category-line"></div>
            <div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Cras justo odio</li>
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Dapibus ac facilisis in</li>
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Morbi leo risus</li>
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Porta ac consectetur ac</li>
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Vestibulum at eros</li>
                </ul>
            </div>
        </div>

        <!-- Category 2 -->
        <div class="category-item animate-right">
            <div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Cras justo odio</li>
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Dapibus ac facilisis in</li>
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Morbi leo risus</li>
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Porta ac consectetur ac</li>
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Vestibulum at eros</li>
                </ul>
            </div>
            <div class="category-line"></div>
            <h3 class="category-title">Wellness & Relaxation</h3>
            <img src="/images/pexels-enginakyurt-2736388.jpg" class="category-item-img"/>
        </div>

        <!-- Category 3 -->
        <div class="category-item animate-left">
            <img src="/images/pexels-castorlystock-3682238.jpg" class="category-item-img"/>
            <h3 class="category-title">Ski Room</h3>
            <div class="category-line"></div>
            <div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Cras justo odio</li>
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Dapibus ac facilisis in</li>
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Morbi leo risus</li>
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Porta ac consectetur ac</li>
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Vestibulum at eros</li>
                </ul>
            </div>
        </div>

        <!-- Category 4 -->
        <div class="category-item animate-right">
            <div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Cras justo odio</li>
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Dapibus ac facilisis in</li>
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Morbi leo risus</li>
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Porta ac consectetur ac</li>
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Vestibulum at eros</li>
                </ul>
            </div>
            <div class="category-line"></div>
            <h3 class="category-title">Entertainment</h3>
        </div>

        <!-- Category 5 -->
        <div class="category-item animate-left">
            <h3 class="category-title">Luxury Dining</h3>
            <div class="category-line"></div>
            <div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Cras justo odio</li>
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Dapibus ac facilisis in</li>
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Morbi leo risus</li>
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Porta ac consectetur ac</li>
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Vestibulum at eros</li>
                </ul>
            </div>
        </div>

        <!-- Category 6 -->
        <div class="category-item animate-right">
            <div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Cras justo odio</li>
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Dapibus ac facilisis in</li>
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Morbi leo risus</li>
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Porta ac consectetur ac</li>
                    <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Vestibulum at eros</li>
                </ul>
            </div>
            <div class="category-line"></div>
            <h3 class="category-title">Spa & Wellness</h3>
        </div>
    </div>
</section>