<div class="container text-center" id="facilitiesSection">
    <h3 class="h1">Facilities & Services</h3>
</div>

<section class="py-5 facilities-section">
    <div class="container">
        <div class="row gap-5">
            <!-- Category Section -->
            <div class="col-lg-7 col-md-12 d-flex flex-column gap-5">
                <div class="category-item animate-left text-center justify-content-center  justify-content-lg-left">
                    <div class="social-icons-horizontal">
                        <div class="category-item-img-container">
                            <img src="/images/pexels-lucaluperto-15473970.jpg" class="category-item-img img-fluid" />
                        </div>
                        <h3 class="category-title" style="font-size: 20px;">Outdoor Activities</h3>
                    </div>
                    <div class="category-line"></div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Ski-in Ski-out (10 meters to
                            the main Courchevel slope)</li>
                        <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Proximity to the Jardin Alpin
                            gondola (famous Gucci gondola)</li>
                        <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Ski Room: Conveniently store
                            and access ski equipment</li>
                    </ul>
                </div>

                <div
                    class="category-item animate-left text-center justify-content-center  justify-content-lg-right flex-row-reverse flex-lg-row">
                    <div class="social-icons-horizontal">
                        <div class="category-item-img-container d-block d-lg-none">
                            <img src="/images/pexels-olly-3760262.jpg" class="category-item-img img-fluid" />
                        </div>
                        <h3 class="category-title d-block d-lg-none" style="font-size: 20px;">Wellness & SPA</h3>
                    </div>

                    <div class="category-line d-block d-lg-none"></div>


                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Hammam and Sauna</li>
                        <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Personalized welcome with
                            options for daily housekeeping</li>
                        <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Optional breakfast service
                            every morning</li>
                    </ul>
                    <div class="category-line d-none d-lg-block"></div>
                    <div class="social-icons-horizontal">
                        <h3 class="category-title d-none d-lg-block" style="font-size: 20px;">Wellness & SPA</h3>
                        <div class="category-item-img-container d-none d-lg-block">
                            <img src="/images/pexels-olly-3760262.jpg" class="category-item-img img-fluid" />
                        </div>
                    </div>
                </div>

                <div class="category-item animate-left text-center justify-content-center  justify-content-lg-left">
                    <div class="social-icons-horizontal">
                        <div class="category-item-img-container">
                            <img src="/images/pexels-tiffany-bui-1263477-2405062.jpg"
                                class="category-item-img img-fluid" />
                        </div>
                        <h3 class="category-title" style="font-size: 20px;">Entertainment</h3>
                    </div>
                    <div class="category-line"></div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Large living room with TV and
                            SONOS system</li>
                        <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Cinema/media room</li>
                        <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Garden terrace of 40 sqm for
                            outdoor relaxation
                        </li>
                    </ul>
                </div>

                <div
                    class="category-item animate-left text-center justify-content-center  justify-content-lg-right flex-row-reverse flex-lg-row">
                    <div class="social-icons-horizontal">
                        <div class="category-item-img-container d-block d-lg-none">
                            <img src="/images/image00001.webp" class="category-item-img img-fluid" />
                        </div>
                        <h3 class="category-title d-block d-lg-none" style="font-size: 20px;">Included Services</h3>
                    </div>

                    <div class="category-line d-block d-lg-none"></div>


                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Concierge Service – Personalized assistance for your stay.</li>
                        <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Daily Housekeeping – Enjoy a clean, refreshed space every day.</li>
                        <li class="list-group-item"><i class="fas fa-thin fa-check"></i> Private Chef – In-room dining with customized meals.</li>
                    </ul>
                    <div class="category-line d-none d-lg-block"></div>
                    <div class="social-icons-horizontal">
                        <h3 class="category-title d-none d-lg-block" style="font-size: 20px;">Included Services</h3>
                        <div class="category-item-img-container d-none d-lg-block">
                            <img src="/images/image00001.webp" class="category-item-img img-fluid" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Facilities Section -->
            <div class="col-lg-4 col-md-12 d-flex flex-column gap-3">
                <h3 class="mb-2">Facilities</h3>
                <h5>Level 0</h5>
                <ul class="list-unstyled">
                    <li>Large living room with TV</li>
                    <li>Fully-equipped kitchen</li>
                    <li>Dining table for 10 guests</li>
                    <li>SONOS sound system</li>
                    <li>Bedroom 1: Guest room with a King Size double bed, ensuite shower room, 1 sink, and WC - TV
                    </li>
                    <li>Bedroom 2: Guest room with a King Size double bed, ensuite shower room, 1 sink, and WC - TV
                    </li>
                    <li>Bedroom 3: Master bedroom with a King Size double bed, ensuite shower room, 2 sinks &
                        independent WC - dressing room - TV</li>
                    <li>Bedroom 4: Queen Size double bed - TV</li>
                    <li>Walk-in closet</li>
                    <li>Outdoor terrace of 40 sqm</li>
                </ul>

                <h5>Level -1</h5>
                <ul class="list-unstyled">
                    <li>TV area</li>
                    <li>Bedroom 5: Two single beds with ensuite shower room - 1 sink and 1 independant WC</li>
                </ul>

                <!-- Included Services Section -->
                <h3 class="my-2">Included Services</h3>
                <ul class="list-unstyled">
                    <li>Personalized welcome upon arrival</li>
                    <li>Welcome products</li>
                    <li>Beds made upon arrival</li>
                    <li>Towels provided</li>
                    <li>End-of-stay cleaning</li>
                    <li>Daily housekeeping service</li>
                    <li>Concierge service</li>
                    <li>Option for breakfast service each morning</li>
                    <li>Private Chef</li>
                    <li>Massage service</li>
                    <li>Personal shopping service</li>
                    <li>Concierge for reservations</li>
                </ul>

                <!-- Facilities of the Property Section -->
                <h3 class="my-2">Facilities of the Property</h3>
                <ul class="list-unstyled">
                    <li>Dishwasher</li>
                    <li>Washing Machine</li>
                    <li>Clothes Dryer</li>
                    <li>High-Speed WiFi</li>
                    <li>Private Garage</li>
                </ul>

            </div>
        </div>
    </div>
    </div>
</section>