<div class="text-center" id="floorplanSection">
  <h3 class="h1">Floorplan</h3>
</div>


<!-- Floorplan -->
<div class="container mt-5">
  <div class="row gallery justify-content-center">

    <div class="col-md-4 position-relative floorplan-container">
      <img src="images/image00030.jpeg" class="img-fluid  floorplan-image" alt="Floorplan" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-index="29">
      <div class="floorplan-overlay">
        <i class="fas fa-search-plus"></i>
      </div>
    </div>
  </div>
</div>

<!---------------------------------------------------------------------->

<div class="text-center" id="gallerySection">
  <h3 class="h1">Gallery</h3>
</div>



<div class="container mt-5">
  <div class="row gallery">
    <!-- Gallery Images -->
    <div class="col-md-4 position-relative">
      <img src="images/gallery/image00001.png" class="img-fluid" alt="Gallery Image 1" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-index="0">
      <div class="image-title">Kitchen</div>
    </div>
    <div class="col-md-4 position-relative">
      <img src="images/gallery/image00002.png" class="img-fluid" alt="Gallery Image 2" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-index="1">
      <div class="image-title">Dining area</div>
    </div>
    <div class="col-md-4 position-relative">
      <img src="images/gallery/image00003.webp" class="img-fluid" alt="Gallery Image 3" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-index="2">
      <div class="image-title">Walk-in closet</div>
    </div>
    <div class="col-md-4 position-relative">
      <img src="images/gallery/image00004.png" class="img-fluid" alt="Gallery Image 4" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-index="3">
      <div class="image-title">Living room</div>
    </div>
    <div class="col-md-4 position-relative">
      <img src="images/gallery/image00005.png" class="img-fluid" alt="Gallery Image 5" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-index="4">
      <div class="image-title">Dining area</div>
    </div>
    <div class="col-md-4 position-relative">
      <img src="images/gallery/image00006.png" class="img-fluid" alt="Gallery Image 6" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-index="5">
      <div class="image-title">Dining area</div>
    </div>
    <div class="col-md-4 position-relative">
      <img src="images/gallery/image00007.png" class="img-fluid" alt="Gallery Image 7" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-index="6">
      <div class="image-title">Dining area</div>
    </div>
    <div class="col-md-4 position-relative">
      <img src="images/gallery/image00008.png" class="img-fluid" alt="Gallery Image 8" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-index="7">
      <div class="image-title">Living room</div>
    </div>
    <div class="col-md-4 position-relative">
      <img src="images/gallery/image00009.png" class="img-fluid" alt="Gallery Image 9" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-index="8">
      <div class="image-title">Kitchen</div>
    </div>
    <div class="col-md-4 position-relative">
      <img src="images/gallery/image00010.png" class="img-fluid" alt="Gallery Image 10" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-index="9">
      <div class="image-title">Living room</div>
    </div>
    <div class="col-md-4 position-relative">
      <img src="images/gallery/image00011.png" class="img-fluid" alt="Gallery Image 11" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-index="10">
      <div class="image-title">Living room</div>
    </div>
    <div class="col-md-4 position-relative">
      <img src="images/gallery/image00012.png" class="img-fluid" alt="Gallery Image 12" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-index="11">
      <div class="image-title">Bedroom 1 - Level 0</div>
    </div>
    <div class="col-md-4 position-relative">
      <img src="images/gallery/image00013.png" class="img-fluid" alt="Gallery Image 13" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-index="12">
      <div class="image-title">Bedroom 2 - Level 0</div>
    </div>
    <div class="col-md-4 position-relative">
      <img src="images/gallery/image00014.png" class="img-fluid" alt="Gallery Image 14" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-index="13">
      <div class="image-title">Kitchen</div>
    </div>
    <div class="col-md-4 position-relative">
      <img src="images/gallery/image00015.webp" class="img-fluid" alt="Gallery Image 15" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-index="14">
      <div class="image-title">Bedroom 3 - Level 0</div>
    </div>
    <div class="col-md-4 position-relative">
      <img src="images/gallery/image00016.webp" class="img-fluid" alt="Gallery Image 16" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-index="15">
      <div class="image-title">Master bedroom</div>
    </div>
    <div class="col-md-4 position-relative">
      <img src="images/gallery/image00017.webp" class="img-fluid" alt="Gallery Image 17" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-index="16">
      <div class="image-title">Master bedroom</div>
    </div>
    <div class="col-md-4 position-relative">
      <img src="images/gallery/image00018.webp" class="img-fluid" alt="Gallery Image 18" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-index="17">
      <div class="image-title">Master bedroom</div>
    </div>
    <div class="col-md-4 position-relative">
      <img src="images/gallery/image00019.webp" class="img-fluid" alt="Gallery Image 19" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-index="18">
      <div class="image-title">Master bathroom</div>
    </div>
    <div class="col-md-4 position-relative">
      <img src="images/gallery/image00020.webp" class="img-fluid" alt="Gallery Image 20" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-index="19">
      <div class="image-title">Bedroom 4 - Level 0</div>
    </div>
    <div class="col-md-4 position-relative">
      <img src="images/gallery/image00021.webp" class="img-fluid" alt="Gallery Image 21" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-index="20">
      <div class="image-title">Bedroom 5 - Level -1</div>
    </div>
    <div class="col-md-4 position-relative">
      <img src="images/gallery/image00022.webp" class="img-fluid" alt="Gallery Image 22" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-index="21">`
      <div class="image-title">Bathroom 5 - Level -1</div>
    </div>
    <div class="col-md-4 position-relative">
      <img src="images/gallery/image00023.webp" class="img-fluid" alt="Gallery Image 23" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-index="22">
      <div class="image-title">Living room</div>
    </div>
    <div class="col-md-4 position-relative">
      <img src="images/gallery/image00024.webp" class="img-fluid" alt="Gallery Image 24" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-index="23">
      <div class="image-title">TV area - Level -1</div>
    </div>
    <div class="col-md-4 position-relative">
      <img src="images/gallery/image00025.webp" class="img-fluid" alt="Gallery Image 25" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-index="24">
      <div class="image-title">Dining area</div>
    </div>
    <div class="col-md-4 position-relative">
      <img src="images/gallery/image00026.webp" class="img-fluid" alt="Gallery Image 26" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-index="25">
      <div class="image-title">Dining area</div>
    </div>
    <div class="col-md-4 position-relative">
      <img src="images/gallery/image00027.webp" class="img-fluid" alt="Gallery Image 27" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-index="26">
      <div class="image-title">Kitchen</div>
    </div>
    <div class="col-md-4 position-relative">
      <img src="images/gallery/image00028.webp" class="img-fluid" alt="Gallery Image 28" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-index="27">
      <div class="image-title">Dining area</div>
    </div>
    <div class="col-md-4 position-relative">
      <img src="images/gallery/image00029.webp" class="img-fluid" alt="Gallery Image 29" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-index="28">
      <div class="image-title">Kitchen</div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      <div class="modal-body">
        <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <!-- Carousel Images -->
            <div class="carousel-item active">
              <img src="images/image00001.webp" class="d-block w-100" alt="Image 1">
              <div class="carousel-caption">
                <h5>Kitchen</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/image00002.webp" class="d-block w-100" alt="Image 2">
              <div class="carousel-caption">
                <h5>Dining area</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/image00003.webp" class="d-block w-100" alt="Image 3">
              <div class="carousel-caption">
                <h5>Walk-in closet</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/image00004.webp" class="d-block w-100" alt="Image 4">
              <div class="carousel-caption">
                <h5>Living room</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/image00005.webp" class="d-block w-100" alt="Image 5">
              <div class="carousel-caption">
                <h5>Dining area</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/image00006.webp" class="d-block w-100" alt="Image 6">
              <div class="carousel-caption">
                <h5>Dining area</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/image00007.webp" class="d-block w-100" alt="Image 7">
              <div class="carousel-caption">
                <h5>Dining area</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/image00008.webp" class="d-block w-100" alt="Image 8">
              <div class="carousel-caption">
                <h5>Living room</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/image00009.webp" class="d-block w-100" alt="Image 9">
              <div class="carousel-caption">
                <h5>Kitchen</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/image00010.webp" class="d-block w-100" alt="Image 10">
              <div class="carousel-caption">
                <h5>Living room</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/image00011.webp" class="d-block w-100" alt="Image 11">
              <div class="carousel-caption">
                <h5>Living room</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/image00012.webp" class="d-block w-100" alt="Image 12">
              <div class="carousel-caption">
                <h5>Bedroom 1 - Level 0</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/image00013.webp" class="d-block w-100" alt="Image 13">
              <div class="carousel-caption">
                <h5>Bedroom 2 - Level 0</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/image00014.webp" class="d-block w-100" alt="Image 14">
              <div class="carousel-caption">
                <h5>Kitchen</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/image00015.webp" class="d-block w-100" alt="Image 15">
              <div class="carousel-caption">
                <h5>Bedroom 3 - Level 0</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/image00016.webp" class="d-block w-100" alt="Image 16">
              <div class="carousel-caption">
                <h5>Master bedroom</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/image00017.webp" class="d-block w-100" alt="Image 17">
              <div class="carousel-caption">
                <h5>Master bedroom</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/image00018.webp" class="d-block w-100" alt="Image 18">
              <div class="carousel-caption">
                <h5>Master bedroom</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/image00019.webp" class="d-block w-100" alt="Image 19">
              <div class="carousel-caption">
                <h5>Master bathroom</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/image00020.webp" class="d-block w-100" alt="Image 20">
              <div class="carousel-caption">
                <h5>Bedroom 4 - Level 0</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/image00021.webp" class="d-block w-100" alt="Image 21">
              <div class="carousel-caption">
                <h5>Bedroom 5 - Level -1</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/image00022.webp" class="d-block w-100" alt="Image 22">
              <div class="carousel-caption">
                <h5>Bathroom 5 - Level -1</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/image00023.webp" class="d-block w-100" alt="Image 23">
              <div class="carousel-caption">
                <h5>Living room</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/image00024.webp" class="d-block w-100" alt="Image 24">
              <div class="carousel-caption">
                <h5>TV area - Level -1</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/image00025.webp" class="d-block w-100" alt="Image 25">
              <div class="carousel-caption">
                <h5>Dining area</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/image00026.webp" class="d-block w-100" alt="Image 26">
              <div class="carousel-caption">
                <h5>Dining area</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/image00027.webp" class="d-block w-100" alt="Image 27">
              <div class="carousel-caption">
                <h5>Kitchen</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/image00028.webp" class="d-block w-100" alt="Image 28">
              <div class="carousel-caption">
                <h5>Dining area</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/image00029.webp" class="d-block w-100" alt="Image 29">
              <div class="carousel-caption">
                <h5>Kitchen</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/image00030.jpeg" class="d-block w-100" alt="Floorplan">
              <div class="carousel-caption">
                <h5>Floorplan</h5>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>