<div class="text-center" id="gallerySection">
  <h3 class="h1">Gallery</h3>
</div>

<div class="container mt-5">
  <div class="row gallery">
    <!-- Gallery Images -->
    <div class="col-md-4">
      <img src="images/pexels-ansar-muhammad-380085065-27604112.jpg" class="img-fluid" alt="Gallery Image 1"
        data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-slide-to="0">
    </div>
    <div class="col-md-4">
      <img src="images/pexels-castorlystock-3682238.jpg" class="img-fluid" alt="Gallery Image 2" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-bs-slide-to="1">
    </div>
    <div class="col-md-4">
      <img src="images/pexels-pixabay-262048.jpg" class="img-fluid" alt="Gallery Image 3" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-bs-slide-to="2">
    </div>
    <div class="col-md-4">
      <img src="images/pexels-enginakyurt-2736388.jpg" class="img-fluid" alt="Gallery Image 4" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-bs-slide-to="3">
    </div>
    <div class="col-md-4">
      <img src="images/pexels-flodahm-1176516.jpg" class="img-fluid" alt="Gallery Image 5" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-bs-slide-to="4">
    </div>
    <div class="col-md-4">
      <img src="images/pexels-fotios-photos-1126728.jpg" class="img-fluid" alt="Gallery Image 6" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-bs-slide-to="5">
    </div>
    <div class="col-md-4">
      <img src="images/pexels-leeloothefirst-5619177.jpg" class="img-fluid" alt="Gallery Image 7" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-bs-slide-to="6">
    </div>
    <div class="col-md-4">
      <img src="images/pexels-quang-nguyen-vinh-222549-14025023.jpg" class="img-fluid" alt="Gallery Image 8"
        data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-slide-to="7">
    </div>
    <div class="col-md-4">
      <img src="images/pexels-ansar-muhammad-380085065-27604112.jpg" class="img-fluid" alt="Gallery Image 9"
        data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-slide-to="8">
    </div>
    <div class="col-md-4">
      <img src="images/pexels-castorlystock-3682238.jpg" class="img-fluid" alt="Gallery Image 10" data-bs-toggle="modal"
        data-bs-target="#imageModal" data-bs-slide-to="9">
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-body">
        <div id="imageCarousel" class="carousel slide">
          <div class="carousel-inner">
            <!-- Carousel Images -->
            <div class="carousel-item active">
              <img src="images/pexels-ansar-muhammad-380085065-27604112.jpg" class="d-block w-100" alt="Image 1">
            </div>
            <div class="carousel-item">
              <img src="images/pexels-castorlystock-3682238.jpg" class="d-block w-100" alt="Image 2">
            </div>
            <div class="carousel-item">
              <img src="images/pexels-pixabay-262048.jpg" class="d-block w-100" alt="Image 3">
            </div>
            <div class="carousel-item">
              <img src="images/pexels-enginakyurt-2736388.jpg" class="d-block w-100" alt="Image 4">
            </div>
            <div class="carousel-item">
              <img src="images/pexels-flodahm-1176516.jpg" class="d-block w-100" alt="Image 5">
            </div>
            <div class="carousel-item">
              <img src="images/pexels-fotios-photos-1126728.jpg" class="d-block w-100" alt="Image 6">
            </div>
            <div class="carousel-item">
              <img src="images/pexels-leeloothefirst-5619177.jpg" class="d-block w-100" alt="Image 7">
            </div>
            <div class="carousel-item">
              <img src="images/pexels-quang-nguyen-vinh-222549-14025023.jpg" class="d-block w-100" alt="Image 8">
            </div>
            <div class="carousel-item">
              <img src="images/pexels-ansar-muhammad-380085065-27604112.jpg" class="d-block w-100" alt="Image 9">
            </div>
            <div class="carousel-item">
              <img src="images/pexels-castorlystock-3682238.jpg" class="d-block w-100" alt="Image 10">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>