<!-- Hero Image Responsive Banner -->
<section class="hero mb-5">
    <div class="container text-center">
        <h1 class="display-4">In the heart of the Jardin Alpin district</h1>
        <p class="lead">discover a prestigious apartment facing the most beautiful hotels in Courchevel</p>
    </div>
</section>

<!-- Text Information for the Villa -->
<section class="py-5 w-100 w-lg-75 mx-auto wrapper" id="text-information">
    <div class="container">
        <!-- <h2 class="text-center mb-4">The Villa</h2> -->
        <p class="lh-md text-center">In the heart of Jardin Alpin, you will find the Chalet-Apartment SHA on the ground
            floor of a brand-new residence in Courchevel 1850. Emerging in 2024, the apartment has been envisioned and
            created to embrace both the surroundings and light, as well as its guests. An authentic and sophisticated
            decor seamlessly blends stone, wood, and glass to perfection. It's the perfect apartment to welcome you with
            family or friends for a skiing holiday. Thanks to the gondola, you can enjoy a shuttle among the fir trees
            to explore the luxurious shops in the city center.
        </p>
    </div>
</section>

<!-- Image Gallery -->
<section class="gallery py-5">
    <div class="hero-container">
        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!-- Slide 1 -->
                <div class="swiper-slide">
                    <img src="/images/image00002.webp" class="img-fluid" alt="Villa Image 1">
                </div>
                <!-- Slide 2 -->
                <div class="swiper-slide">
                    <img src="/images/image00021.webp" class="img-fluid" alt="Villa Image 2">
                </div>
                <!-- Slide 3 -->
                <div class="swiper-slide">
                    <img src="/images/image00011.webp" class="img-fluid" alt="Villa Image 3">
                </div>
                <!-- Slide 4 -->
                <div class="swiper-slide">
                    <img src="/images/image00018.webp" class="img-fluid" alt="Villa Image 3">
                </div>
                <!-- Slide 5 -->
                <div class="swiper-slide">
                    <img src="/images/image00008.webp" class="img-fluid" alt="Villa Image 3">
                </div>
                <!-- Slide 6 -->
                <div class="swiper-slide">
                    <img src="/images/image00005.webp" class="img-fluid" alt="Villa Image 3">
                </div>
            </div>
        </div>
    </div>
</section>





<!-- Icons with Three Benefits -->
<section class="py-5">
    <div class="container">
        <h2 class="text-center mb-4">Accommodation highlights</h2>
        <div class="row text-center">
            <!-- Existing Benefits -->
            <div class="col-md-4 mb-4">
                <!-- <i class="icon-benefit fas fa-swimming-pool"></i> -->
                <img src="/images/ski_icon.png" alt="pool" class="icon-benefit" />
                <h5 class="mt-2">Great Location</h5>
                <p>10 meters to the main Courchevel slope</p>
            </div>
            <div class="col-md-4 mb-4">
                <!-- <i class="icon-benefit fas fa-spa"></i> -->
                <img src="/images/spa_icon.png" alt="pool" class="icon-benefit" />

                <h5 class="mt-2">Hammam and Sauna</h5>
                <p>Relax and rejuvenate in our in-house luxury spa.</p>
            </div>
            <div class="col-md-4 mb-4">
                <!-- <i class="icon-benefit fas fa-concierge-bell"></i> -->
                <img src="/images/dinner_icon.png" alt="pool" class="icon-benefit" />

                <h5 class="mt-2">Concierge service</h5>
                <p>Experience personalized service with our 24/7 concierge.</p>
            </div>

            <!-- New Benefits -->
            <div class="col-md-4 mb-4">
                <!-- <i class="icon-benefit fas fa-utensils"></i> -->
                <img src="/images/ski_room_icon.png" alt="pool" class="icon-benefit" />

                <h5 class="mt-2">Ski Room</h5>
                <p>Ski room availability</p>
            </div>
            <div class="col-md-4 mb-4">
                <!-- <i class="icon-benefit fas fa-wifi"></i> -->

                <img src="/images/wifi_icon.png" alt="pool" class="icon-benefit" />
                <h5 class="mt-2">High-Speed Wi-Fi</h5>
                <p>Stay connected with our high-speed Wi-Fi available throughout the villa.</p>
            </div>
            <div class="col-md-4 mb-4">
                <!-- <i class="icon-benefit fas fa-dumbbell"></i> -->
                <img src="/images/terrace_icon.png" alt="pool" class="icon-benefit" />
                <h5 class="mt-2">Terrace</h5>
                <p>Outdoor garden/terrace of 40 sqm</p>
            </div>
        </div>
    </div>
</section>


<!-- CTA Button for Make a Booking Now -->
<section class="py-5 bg-primary text-white text-center" id="cta-home-section">
    <div class="container">
        <h2>Ready for a 5 star experience?</h2>
        <p>Book your stay now and experience luxury like never before.</p>
        <a href="/availability" class="btn btn-booking btn-lg light mt-5 m-0">Check availability</a>
    </div>
</section>

<!-- Map with Location -->
<section class="py-5">
    <div class="container">
        <div class="row p-0 m-0">
            <!-- Left Column: Contact Information -->
            <div class="col-md-6 d-flex align-items-center">
                <div class="d-flex flex-column gap-3 justify-content-center mb-5 mb-lg-0">
                    <h2 class="mb-4">Our Location</h2>
                    <div class="d-flex gap-3">
                        <i class="fas fa-phone"></i>
                        <a href="tel: +359887657593" class="text-dark"> +359 887 657 593</a>
                    </div>

                    <div class="d-flex gap-3">
                        <i class="fas fa-location"></i>
                        <p class="text-dark">515-419 Rue du Jardin Alpin, 73120 Courchevel, France</p>
                    </div>
                    <p>For inquiries, please contact us via phone or visit us at our address.</p>
                    <a href="/contact" class="btn btn-contact btn-lg m-0">Contact</a>
                </div>
            </div>

            <!-- Right Column: Map -->
            <div class="col-md-6">
                <div class="map-responsive">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2801.1108109885236!2d6.632461999999999!3d45.40710500000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDXCsDI0JzI1LjYiTiA2wrAzNyc1Ni45IkU!5e0!3m2!1sen!2sbg!4v1728163659421!5m2!1sen!2sbg"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>