:root {
    --primary: rgb(33 37 41);
    --secondary: #FED3A9;
    --white: #ffffff;
    --black: #000000;
}


h2 {
    font-weight: 400;
    text-transform: uppercase;
}

.bg-primary {
    background-color: var(--primary) !important;
    color: var(--secondary) !important;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.logo {
    font-family: "Dancing Script", cursive;
    font-size: 30px;
}

.container {
    flex: 1;
}

.nav-link {
    font-weight: 500;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
}


.btn-close {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
}

.btn-close:focus,
.btn-close:active {
    outline: none;
    box-shadow: none;
}

header.transparent {
    background-color: transparent;
    transition: background-color 0.3s ease;
}

header.scrolled {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.359);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.swiper-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.swiper-button-next,
.swiper-button-prev {
    color: #000;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 30px;
    height: 30px;
}

.swiper-pagination {
    bottom: 10px;
    text-align: center;
    width: 100%;
    z-index: 10;
}

.swiper-pagination-bullet {
    background: #000;
    opacity: 0.7;
}


.social-icons-vertical {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 1050;
}

.social-icons-vertical a {
    color: #000;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-icons-vertical a:hover {
    scale: 1.5;
    transition: all 0.2s ease;
}

.light {
    border: 0;
    padding: 10px 30px;
    font-size: 1.2em;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin: 20px;
    background-color: var(--secondary);
    position: relative;
    overflow: hidden;
}

.light::before {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    width: 35%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: skewX(-25deg);
    transition: all 0.5s;
    animation: flashlight 4s infinite;
}

@keyframes flashlight {
    0% {
        left: -75%;
    }

    25% {
        left: 100%;
    }

    26% {
        left: 100%;
    }

    100% {
        left: 100%;
    }
}

.btn-booking,
.btn-contact {
    background-color: transparent;
    width: max-content;
    font-weight: 500;
    padding: 12px 50px;
    border-radius: 35px;
    font-size: 18px;
    transition: all 0.3s ease;
}

.btn-booking {
    color: var(--secondary);
    border: 1px solid var(--secondary) !important;
}

.btn-booking:hover {
    background-color: var(--secondary) !important;
    color: var(--primary);
    border: 1px solid var(--secondary) !important;
}

.btn-contact {
    color: var(--primary);
    border: 1px solid var(--primary) !important;
}

.btn-contact:hover {
    background-color: var(--primary) !important;
    color: var(--white);
    border: 1px solid var(--primary) !important;
}

/* Custom Styles */
.hero {
    background: url('/images/pexels-didsss-1740175.jpg') no-repeat center bottom/cover;
    height: 75vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.hero::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 350px;
    background: url('/images/image-from-rawpixel-id-12655441-png.png') no-repeat center center;
    background-size: cover;
    z-index: 1;
    opacity: 0.8;
}

.hero::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 350px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    z-index: 2;
}

.hero .container {
    position: relative;
    z-index: 6;
}

/* .hero-container {
    background: url('/images/image-from-rawpixel-id-12655441-png.png') no-repeat center bottom/cover;
} */



#gallerySection,
#contactSection,
#availabilitySection,
#homeSection,
#servicesSection,
#facilitiesSection,
#thankyouSection {
    margin-top: 100px;
}

#text-information {
    z-index: 3;
}


.gallery img {
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.icon-benefit {
    font-size: 3rem;
    padding: 30px;
}

.offcanvas.offcanvas-start {
    width: 300px;
    height: 100vh;
}

footer {
    background-color: #f8f9fa;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
}

.nav-link:focus,
.nav-link:hover {
    text-decoration: underline;
}


.map-responsive {
    position: relative;
    overflow: hidden;
    height: 380px;
}

.map-responsive iframe {
    border: 0;
    width: 100%;
    height: 100%;
}

.hero-container .p-4 {
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}




/* Services & Facilities */
.category-wrapper {
    overflow-x: hidden;
}

.list-group-item {
    border: none;
    background: none;
}

.category-item {
    display: flex;
    align-items: center;
    opacity: 0;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    position: relative;
}

.fa-check {
    border: 1px solid;
    border-radius: 50%;
    font-size: 13px;
    padding: 3px;
    color: green;
}

.category-item-img-container {
    width: 240px;
    height: 240px;
    margin-right: 15px;
}

.category-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%
}


.category-line {
    flex-grow: 1;
    height: 0.2px;
    background-color: #b8b8b8;
}

.category-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    white-space: nowrap;
    padding: 0 20px;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-15%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(15%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-left {
    animation-name: slideInLeft;
    justify-content: flex-start;
}

.animate-right {
    animation-name: slideInRight;
    justify-content: flex-end;
}

.category-item:nth-child(1) {
    animation-delay: 0.2s;
}

.category-item:nth-child(2) {
    animation-delay: 0.4s;
}

.category-item:nth-child(3) {
    animation-delay: 0.6s;
}

.category-item:nth-child(4) {
    animation-delay: 0.8s;
}

.category-item:nth-child(5) {
    animation-delay: 1s;
}

.category-item:nth-child(6) {
    animation-delay: 1.2s;
}


/* Gallery --------- */


.gallery img {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.gallery img:hover {
    transform: scale(1.02);
    mix-blend-mode: luminosity;
}

.modal-dialog {
    max-width: 65%;
    width: 65%;
}

.gallery>div {
    padding-right: 2px;
    padding-left: 2px;
    margin-bottom: 4px;
}

.modal-body {
    padding: 0;
}

.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0, -50px);
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    margin: 0;
}


.carousel-item img {
    width: 100%;
}

button.btn-close {
    position: absolute;
    top: 0;
    z-index: 1;
    padding: 1rem;
    font-size: 1.2rem;
    right: 0;
    filter: invert(1);
    opacity: 1;

}

.carousel-control-next,
.carousel-control-prev {
    top: 50%;
    height: 52px;
    opacity: 1;
}


/* Availability ----------------------------------------------- */

.table-container {
    margin: 50px auto;
    max-width: 800px;
    text-align: center;
}

.table-title {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 30px;
}


table {
    width: 100%;
    border: 1px solid #ccc;
}

th,
td {
    text-align: center;
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    background-color: #f9f9f9;
    font-weight: bold;
}

td.booked {
    color: #d69593;
    font-weight: bold;
}

.booked {
    color: green;
    font-weight: 100;
}

.note {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}

.form-control {
    height: 40px;
}

#message {
    height: 100px;
}

.btn-enquire {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-enquire:hover {
    background-color: #f0f0f0;
}


/* Snow effect */

.snow-container {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    pointer-events: none;
}

.snowflake {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
}

@keyframes fall {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
        transform: translateY(100vh);
    }
}

@keyframes diagonal-fall {
    0% {
        opacity: 0;
        transform: translate(0, 0);
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 0.25;
        transform: translate(10vw, 100vh);
    }
}


@media (max-width: 768px) {
    .logo {
        font-size: 20px;
        margin-left: 15px;
    }
/* 
    .hero {
        height: 60vh;
    } */

    .social-icons-vertical {
        top: 65%;
    }

    .social-icons-vertical a {
        font-size: 1.3rem;
    }

    .modal-dialog {
        max-width: 90%;
        width: 90%;
    }
}